@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 100, 100, 100;
    --background-end-rgb: 100, 100, 100; */
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
html
{
  height: 100%;
}

body
{
  height: 100%;
  background-color: #E3E3E3 !important;
}

.highlighted-date {
  background-color: #ffeb3b !important; /* Highlight color */
  color: #000 !important; /* Text color */
} 

.custom-container {
  width: 85%;
  margin: 0 auto;
}


@media screen and (max-width: 410px) {
  .custom-container {
    width: 95%;
  }
}


/*Special dropdown effect*/

.drop-down-effect {
  animation-duration: 100ms;
  animation-name: drop-down-animation;
}

@keyframes drop-down-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  90%
  {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
